.login-form {
    height:100vh;
    position:relative; 
    background:linear-gradient(0deg, rgba(155,88,207,1) 0%, rgba(139,223,203,1) 100%); 
}

.login-form-bg {
    width:350px; 
    height:600px; 
    background:#ffffff; 
    border-radius:5px; 
    position:absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%); 
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.login-form-logo-container {
    position: absolute;
    top:10px; 
    left: 10px;
}

.login-form-content {
    padding:40px; 
    text-align:center; 
}

#login-form-logo {
    max-width: 150px;
}

#login-form-title {
    margin-bottom: 30px;
}

#login-form-fp-container {
    text-align:right; 
    margin-bottom:20px; 
}

#login-form-fp {
    text-decoration:none; 
    color:#1d1d1d; 
    font-size:0.95rem; 
    text-align:right; 
}