.product-collection-section {
  position: relative;
}

.pr-top-bar {
  background: #ffffff;
  height: 60px;
  max-width: 80%;
  margin: 10px auto;
  margin-top: 50px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.pr-top-bar-container {
  width: 100%;
  padding: 10px;
  position: relative;
}

.pr-top-bar-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  align-items: center;
}

.pr-top-bar-title {
  position: absolute;
  left: 10px;
}

.pr-top-bar-buttons {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5px;
}

.secret-url-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product Grid Section */

.wl-product-grid-section {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.wl-product-card {
  background: #fff;
  min-height: 270px;
  position: relative;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

.wl-product-card:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wl-product-card-img {
  max-width: 170px;
  max-height: 150px;
  padding-top: 10px;
  margin: auto;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wl-product-card-info {
  padding: 10px;
}
