#registerBtn{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
    font-size: 0.95rem;
    background: linear-gradient(0deg, rgba(211,104,104,1) 0%, rgba(249,177,111,1) 100%);
    color: white;
}

#registerBtn:hover{
    cursor:pointer; 
}

#loginBtn{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
    font-size: 0.95rem;
    background: linear-gradient(0deg, rgba(104,179,211,1) 0%, rgba(126,207,88,1) 100%);
    color: white;
}

#loginBtn:hover{
    cursor:pointer; 
}

.openModalBtn{
    width:50px;
    height:50px;
    text-align:center; 
    border-radius:50px;
    position:absolute;
    right:5px;
    margin-top:4px;
    transition: 0.2s ease-in;
}

.openModalBtn:hover{
    background-color: rgb(204, 233, 203);
    cursor: pointer;
}

.editWLNameBtn {
    width:35px;
    height:35px;
    text-align:center; 
    border-radius:50px;
    transition: 0.2s ease-in;
}

.editWLNameBtn:hover{
    background-color: #dff8f7;
    cursor: pointer;
}

.closeModalBtn{
    width: 24px;
    height: 24px;
}

#addWishListBtn{
    width: 150px;
    padding: 7px 0;
    font-size: .95rem;
    margin-left: 4px;
    border-style: none;
    border-radius: 5px;
    background: rgb(204, 233, 203);
    color: green;
    transition: 0.2s ease-in;
}

#addWishListBtn:hover{
    background: rgb(98, 179, 60);
    color: white;
    cursor: pointer;
}

#closeModalBtn{
    width: 150px;
    padding: 7px 0;
    font-size: .95rem;
    margin-right: 4px;
    border-style: none;
    border-radius: 5px;
    background: rgb(233, 203, 203);
    color: rgb(202, 84, 84);
    transition: 0.2s ease-in;
}

#closeModalBtn:hover{
    background: rgb(202, 84, 84);
    color: white;
    cursor: pointer;
}

#cbActive{
    transform: scale(1.3);
}

.colorRadioBtn:hover{
    cursor: pointer;
    transform:scale(1.1);
}

.removeWishListBtn{
    color: #1d1d1d;
    position: absolute;
    bottom: 5px;
    right: 5px;
    transition: 0.2s ease-in;
}

.removeWishListBtn:hover{
    color: rgb(202, 84, 84);
    cursor: pointer;
}

.wl-product-card:hover, .addProductCard:hover, .wl-product-grid-add-btn:hover, .wl-grid-card:hover{
    cursor: pointer; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#errorBtn{
    width:150px; 
    margin:10px auto; 
    padding:5px 0;
    display:flex; 
    align-items:center; 
    justify-content:center; 
    background:none;    
    color:#1d1d1d; 
    font-size:1.1rem; 
    border-radius:50px; 
    border-style:none; 
    transition: 0.2s ease-in;
}

#errorBtn:hover{
    background:rgba(255, 255, 255, 0.285);    
    cursor: pointer;    
}

.closeNameChangeBtn{
    color: #ff5353;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 0.2s ease-in;
}

.closeNameChangeBtn:hover{
    cursor: pointer;
    background: #f5a8a8;
}

.updateNameBtn{
    color: #499d24;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 0.2s ease-in;
}

.updateNameBtn:hover{
    cursor: pointer;
    background: rgb(204, 233, 203);
}

.settings-wl-btn, .share-wl-btn, .unshare-wl-btn{
    width:35px;
    height:35px;
    text-align:center; 
    border-radius:50px;
    transition: 0.2s ease-in;
}

.settings-wl-btn:hover{
    background: #dff8f7;
    cursor: pointer;
}

.share-wl-btn:hover{
    background-color: rgb(204, 233, 203);
    cursor: pointer;
}

.unshare-wl-btn:hover{
    background-color: #f5a8a8;
    cursor: pointer;
}

.wl-product-card-remove-btn {
    position:absolute;
    z-index:1; 
    right:5px; 
    top:5px; 
}

#reserve-btn{
    z-index: 999; 
    width:95%; 
    padding:8px 10px; 
    background:#fec478d1;
    color:white; 
    font-size:1rem; 
    border-radius:50px; 
    border-style:none; 
    transition: 0.2s ease-in; 
    display:flex; 
    align-items: center;
    justify-content: center;
}

#purchase-btn{
    z-index: 999;
    width:95%;
    padding:8px 10px; 
    background:rgb(180, 245, 178); 
    color:white; 
    font-size:1rem; 
    border-radius:50px; 
    border-style:none;
    transition: 0.2s ease-in; 
}

#reserve-btn:hover{
    background:#f6b054;
    cursor: pointer;
}

#purchase-btn:hover {
    background:rgb(128, 217, 125); 
    cursor: pointer;
}

#copy-secreturl-btn{
    height:35px; 
    padding:0px 10px; 
    color: #474849; 
    background: #fff;
    margin-right: 5px;
    display: flex;
    align-items: center;
    border-style: none;
    border-radius: 50px;
    transition: 0.2s ease-in;
}

#copy-secreturl-btn:hover{
    cursor: pointer;
    background: #accff9;
}

