* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  color: #474849;
  background: #f5f6f8;
}

a {
  text-decoration: none;
  color: #474849;
}

/* LOGOS */
#signin-logo {
  max-width: 120px;
}
